<div class="flex justify-content-center mt-8" style="height: 100vh;">
    <div class="flex flex-column align-items-start justify-content-start" style="width: 600px;">
        <h1 class="pb-2">Welcome Back, {{user.name}}</h1>
        @if (user.draftListings.length > 0) {
            <h2 class="font-medium pb-2">Finish your listing</h2>
            <div class="flex flex-column w-full gap-2">
                @for (listing of user.draftListings; track $index) {
                    <div class="w-full cursor-pointer align-items-center flex hover:bg-gray-50 hover:border-black-alpha-90 border-1 border-gray-300 relative text-center p-3 border-round-lg">
                        <span class="border-round bg-gray-200 mr-3">
                            <i class="fa-solid fa-route p-2 text-2xl"></i>
                        </span>
                        <p>Listed started on {{listing.date | date}}</p>
                    </div>
                }
            </div>
        }
        <h2 class="font-medium pb-2 mt-6">Start a new listing</h2>
        <div class="flex flex-column w-full gap-2">
            <div class="w-full relative cursor-pointer align-items-center flex relative text-center p-3 border-round-lg">
                <i class="fa-solid fa-screwdriver-wrench text-3xl mr-3"></i>
                <p>Create a new listing</p>
                <i class="fa-solid fa-chevron-right absolute" style="right: 15px;"></i>
            </div>
            <div class="divider"></div>
            <div class="w-full relative cursor-pointer align-items-center flex relative text-center p-3 border-round-lg">
                <i class="fa-solid fa-paste text-3xl mr-3"></i>
                <p>Create from an existing listing</p>
                <i class="fa-solid fa-chevron-right absolute" style="right: 15px;"></i>
            </div>
            <div class="divider"></div>
        </div>
    </div>
</div>
