
<div class="flex flex-column w-full justify-content-start align-items-center gap-8">
    <div class="bg-white shadow-2 border-round-2xl flex px-4" style="width: 800px; height: 120px;">
        <div class="flex justify-content-between w-full">
            <div style="width: 30%;" class="cursor-pointer flex align-items-start pt-3">
                <div class="flex flex-column w-full justify-content-center pr-4 pl-2 gap-1 border-right-1 border-300">
                    <div class="flex align-items-center justify-content-between pl-2">
                        <p class="m-0 font-semibold">Destination</p>
                        <i class="fa-solid fa-chevron-down mr-4"></i>
                    </div>
                    <!-- <p-autocomplete [completeOnFocus]="true" [showClear]="true" [group]="true" [suggestions]="filteredDestinationOptions" (completeMethod)="filterDestinations($event)" /> -->
                </div>
            </div>
            <div style="width: 30%;" class="cursor-pointer flex align-items-start pt-3">
                <div class="flex flex-column px-4 gap-1 w-full border-right-1 border-300">
                    <div class="flex align-items-center justify-content-between">
                        <p class="m-0 font-semibold">Duration</p>
                        <i class="fa-solid fa-chevron-down mr-4"></i>
                    </div>
                    <!-- <p-autocomplete [completeOnFocus]="true" [showClear]="true"[suggestions]="dayRanges" (completeMethod)="test($event)"/> -->
                </div>
            </div>
            <div style="width: 30%;" class="flex align-items-start pt-3">
                <div class="flex flex-column px-4 gap-1">
                    <div class="flex align-items-center justify-content-between">
                        <p class="m-0 font-semibold">Price Range</p>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <div class="flex w-full">
                        <!-- <p-autocomplete [completeOnFocus]="true" [showClear]="true"[suggestions]="minMax" (completeMethod)="noop($event)"/> -->
                        <span> - </span>
                        <!-- <p-autocomplete [completeOnFocus]="true" [showClear]="true"[suggestions]="minMax" (completeMethod)="noop($event)" field="label"/> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="flex align-items-center p-3">
            <button (onClick)="showDialog()" pButton severity="contrast" label="Search" style="width: 120px; height: 50px;"></button>
        </div>
    </div>
    
    <div class="border-top-1 pt-4 border-gray-300 w-full flex justify-content-between px-4">
        <div class="flex">
            @for (filter of filters; track $index) {
                <span class="cursor-pointer flex flex-column py-1 z-5 px-2 align-items-center text-gray-500" style="width: 120px; height: 120px;">
                    <i class="{{filter.icon}} text-2xl"></i>
                    <p class="text-lg">{{filter.name}}</p>
                </span>
            }
        </div>
        <p-button icon="fa-solid fa-sliders" label="Filter" [outlined]="true" severity="secondary" />
    </div>

    <p-dialog header="Header" (onClick)="showDialog()" [(visible)]="visible" [modal]="true" [style]="{ width: '25rem' }">
            <ng-template pTemplate="header">
                <div class="inline-flex align-items-center justify-content-center gap-2">
                    <h2>Filters</h2>
                </div>
            </ng-template>
            <span class="p-text-secondary block mb-5">Update your information.</span>
            <div class="flex align-items-center gap-3 mb-3">
                <label for="username" class="font-semibold w-6rem">
                    Username
                </label>
                <input pInputText id="username" class="flex-auto" autocomplete="off" />
            </div>
            <div class="flex align-items-center gap-3 mb-5">
                <label for="email" class="font-semibold w-6rem">Email</label>
                <input pInputText id="email" class="flex-auto" autocomplete="off" />
            </div>
            <ng-template pTemplate="footer">
                <p-button 
                    label="Cancel" 
                    [text]="true" 
                    severity="secondary" 
                    (onClick)="visible = false" />
                <p-button 
                    label="Save" 
                    [outlined]="true" 
                    severity="secondary" 
                    (onClick)="visible = false" 
                  />
            </ng-template>
    </p-dialog>

    <div class="flex w-full justify-content-center pb-4">
        <div class="grid row-gap-6">
            @for (listing of listings; track $index) {
                <div class="flex justify-content-start relative col-6 gap-6 px-8">
                    <!-- <span class="flex absolute py-2 z-5 px-2 text-sm bg-white border-round-3xl" style="left: 20px; top: 15px;">
                        <p class="font-semibold">{{listing.title}}</p>
                    </span> -->
                    <div class="relative">
                        <img src="{{listing.image}}" style="object-fit: cover; width: 400px; height: 350px;" class="border-round-3xl z-2" alt="{{listing.countries}}">
                    </div>
                    <div class="flex flex-column justify-content-start">
                        <div class="flex justify-content-between w-full" style="height: 130px;">
                            <div class="flex flex-column justify-content-start align-items-start">
                                <p class="text-lg">{{listing.title | titlecase}}</p>
                                <p class="text-4xl">{{listing.countries.length == 1 ? listing.countries : 'Multi-Country' | titlecase}} in {{listing.days}} Days</p>
                                <div class="grid pt-2">
                                    @for (city of listing.cities; track $index) {
                                        <div class="flex p-1 gap-1">
                                            <i class="fa-solid fa-location-dot text-gray-300"></i>
                                            <p>{{city | titlecase}}</p>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="flex flex-column align-items-end">
                                <p class="text-gray-500">Estimated cost</p>
                                <h2>${{listing.price}}</h2>
                                <p class="text-gray-500">${{calculateNightlyPrice(listing)}}/night</p>
                            </div>
                        </div>
                        <div class="flex flex-column gap-2">
                            <div class="flex gap-1">
                                @for (category of listing.categories; track $index) {
                                    <span class="flex py-1 z-5 px-2 text-sm bg-black-alpha-90 text-white border-round-3xl">
                                        <p class="">{{category | titlecase}}</p>
                                    </span>
                                }
                            </div>
                            <div class="flex gap-1">
                                @for (tag of listing.tags; track $index) {
                                    <span class="flex py-1 z-5 px-2 text-sm bg-gray-200 border-round-3xl">
                                        <p class="">{{tag | titlecase}}</p>
                                    </span>
                                }
                            </div>
                            <p class="p-1">{{listing.descrption}}</p>
                        </div>
                    </div>
                </div>
    
                <!-- <div class="flex flex-column justify-content-between relative">
                    <span class="flex absolute py-2 text-white px-2 text-sm bg-black border-round-3xl" style="left: 20px; top: 15px;">
                        <p class="font-semibold">{{listing.rating}}</p>
                    </span>
                    <div style="width: 400px; height: 400px;" class="relative">
                        <img src="{{listing.image}}" style="object-fit: cover; width: 400px; height: 400px;" class="w-full border-round-3xl z-2" alt="{{listing.countries}}">
                    </div>
                    <div style="width: 400px; height: 400px;" class="text-white absolute flex flex-column justify-content-end p-4">
                        <p>{{listing.title | titlecase}}</p>
                        <div class="flex">
                            <p>$ {{listing.price}} | </p>
                            @if (listing.countries.length === 1) {
                                <p> {{listing.countries[0]}}</p>
                            } @else {
                                <p> Multi-Country</p>
                            }
                        </div>
                    </div>
                </div> -->
            }
        </div>
    </div>
</div>
