.featured-card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.featured-card .featured-card-hide{
    visibility: hidden;
}

.featured-card:hover .featured-card-hide {
    visibility: visible;
  }