<div class="w-full flex justify-content-around align-content-center mt-2">
    <div>
        <p class="text-red-300">logo</p>
    </div>
    <ul class="flex gap-8">
        <li> <a routerLink="" routerLinkActive="active">Home</a> </li>
        <li> <a routerLink="/about" routerLinkActive="active">About</a> </li>
        <li> <a routerLink="/explore" routerLinkActive="active">Listings</a> </li>
        <li> <a routerLink="/contact" routerLinkActive="active">Contact Us</a> </li>
    </ul>
    <div>
        <p-button label="sign in" [outlined]="true" />
    </div>
</div>
