@import "primeicons/primeicons.css";
/* You can add global styles to this file, and also import other style files */
a{
    text-decoration: none;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: PT Sans Narrow, "Times New Roman", sans-serif;
}
ul{
    list-style: none;
}

p{
    margin: 0;
}

.main-card{
    max-width: 1400px;
}

.divider{
    height: 1px;
    width: 100%;
    background-color: var(--p-gray-200);
    margin: 0px;
}

.errorMessage {
    font-size: 12px;
    color: red;
}